@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.create-reservation-container-modal {
    margin: 30px;
    padding: 19px;
    width: 600px;
}

#modal-content>div>button.home-modal-cancel {
    position: absolute;
    top: 1%;
    right: 3%;
    font-size: 25px;
    text-align: center;
    background-color: #EDEDED;
    border-radius: 50%;
}

#modal-content>div>button.home-modal-cancel:hover {
    font-size: 28px;
}

#modal-content>div {
    max-width: 500px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    padding: 10px;
}

.home-reserve-mo-detail {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
    width: 500px;
}

#modal-content>div>form {
    font-family: 'Poppins', sans-serif;
}

#modal-content>div>form>label,
#modal-content>div>form>input,
#modal-content>div>form>select {
    width: 100%;
    font-size: 18px;
}

#modal-content>div>form>textarea {
    width: 100%;
    height: 99px;
    resize: none;
    overflow-y: scroll;
    font-size: 20px;
}

.timer-label {
    margin: 10px 0px;
}

.home-reserve-mo-detail {
    margin-top: 20px;
    overflow-wrap: break-word;

}

#modal-content>div>div.home-reserve-mo-detail>div:nth-child(1)>img {
    border-radius: 5px;
    margin-left: 25px;
}

#modal-content>div>div.home-reserve-mo-detail>div:nth-child(2) {
    margin-left: 25px;
    font-size: 20px;
}

#modal-content>div>div.home-reserve-mo-detail>div:nth-child(2)>div:nth-child(2)>a {
    margin: 5px 0px;
    font-size: 22px;
    color: #D10000;
    width: 300px;
    overflow-wrap: break-word;

}

#modal-content>div>div:nth-child(8)>button {
    margin-top: 25px;
}

#modal-content>div>div.home-reserve-mo-detail>div:nth-child(2) {
    width: 250px;
}

#modal-content>div>div.home-reserve-mo-detail>div:nth-child(2)>div:nth-child(2)>a {
    color: #C51E00;
    text-decoration: none;
}

#modal-content>div>div.home-reserve-mo-detail>div:nth-child(2)>div:nth-child(2)>a:hover {
    color: #F20000;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

#modal-content>div>div.create-error-mo {
    color: #D10000;
}

#modal-content>div>div:nth-child(6)>div.home-reserve-modal-submit {
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#modal-content>div>div:nth-child(6)>div.home-reserve-modal-submit>button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 18px;
    background: #D10000;
    color: white;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

#modal-content>div>div:nth-child(6)>div.home-reserve-modal-submit>button:disabled {
    background: #A9A9A9;
    color: #8A8A8A;
    cursor: not-allowed;

}

#modal-content>div>div:nth-child(6)>div.home-reserve-modal-submit>button:enabled:hover {
    background: rgba(254, 0, 0, 0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}
