@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

div.reserved-modal {
    display: contents;
    /* min-width: 600px;
    max-width: 1060px; */
    width: fit-content;
    min-height: 730px;
    max-height: 780px;
    word-wrap: break-word;
    margin: 30px 20px;
    padding: 3px;
    border-radius: 2px;
    background-color: white;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    max-height: 780px;
    width: 860px;

}

.reserved-edit-modal-each {
    height: 158px;
    min-width: 340px;
    overflow-wrap: break-word;
}

#modal-content>div>div.reserved-edit-modal-details>div:nth-child(1)>img {
    border-radius: 0px;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
}

.reserved-modal-title {
    font-size: 29px;
    color: #4F4F4F;
    padding: 10px 0px;
    font-family: 'Raleway', sans-serif;
}

.reserved-modal-navlink {
    font-size: 24px;
    color: #B01400;
    text-decoration: none;
    transition: transform 0.5s ease;
    overflow-wrap: break-word;
}

.reserved-modal-navlink:hover {
    color: rgba(254, 0, 0, 0.9);
    font-size: 24px;
    text-decoration: underline;
}


#modal-content>div>div.reserved-edit-modal-details {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
    width: 600px;
    box-sizing: border-box;

    word-wrap: break-word;
    gap: 10px;
    margin: 10px;
    /* padding: 0px 20px; */
}

#modal-content>div>div.reserved-modal-edit-form {
    width: 100%;

    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#modal-content>div>div.reserved-modal-edit-form>form>select,
#modal-content>div>div.reserved-modal-edit-form>form>input,
#modal-content>div>div.reserved-modal-edit-form>form>label {
    width: 100%;
    font-size: 18px;
}

#modal-content>div>div.reserved-modal-edit-form>form>select,
#modal-content>div>div.reserved-modal-edit-form>form>input {
    width: 100%;
    font-size: 18px;
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    height: 30px;
}

#modal-content>div>div.reserved-modal-edit-form>form>textarea {
    width: 98%;
    font-size: 18px;
    padding: 4px;
    height: 75px;
    resize: none;
    overflow-y: scroll;
}



/* general setting */

#modal-content>div>button {
    font-size: 26px;
    position: absolute;
    top: 3%;
    right: 4%;
    padding: 0px 10px;
}

#modal-content>div>button:hover {
    font-size: 28px;
    font-weight: 700;
}

#modal-content>div>div.reserved-details>div {
    word-wrap: break-word;
    font: 400;
}

#modal-content>div>div.reserved-details-specialr {
    width: 90%;
    word-wrap: break-word;
    margin-bottom: 8px;
    margin-top: 15px;
    padding: 10px;
    /* box-shadow: 0px 1px 0px rgb(216 0 0 / 20%), 0px 2px 2px -2px rgb(45 35 66 / 20%), inset 0px -1px 0px #d6d6e7; */
    /* border-bottom: 1px solid #660000; */

}

#modal-content>div>div:nth-child(4)>form>label,
#modal-content>div>div:nth-child(4)>form>input,
#modal-content>div>div:nth-child(4)>form>select {
    width: 100%;
    word-wrap: break-word;

}


/* #modal-content>div>div.edit-reservation-button>button {
    display: inline-block;
    outline: 0;
    border: 0;
    margin: 9px 0px;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 28px;
    padding: 0 32px;
    font-size: 16px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;

} */

/* button .edit-reservation-button:hover,
#modal-content>form>button.edit-restaurant-submit:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
} */
/* .edit-reservation-button {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
} */

.edit-reservation-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    text-align: center;
    /* margin: 20px; */
    margin-bottom: 5px;
}

#modal-content>div>div.edit-reservation-button>button {
    /* border: 1px solid #850000; */
    /* background-color: #B01400;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px 5px; */
    margin-top: 14px;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 44px;
    padding: 0 15px;
    font-size: 15px;
    border-radius: 5px;
    font-size: 22px;
}


#modal-content>div>div.edit-reservation-button>button:nth-child(1):disabled {
    color: #CECECE;
    background-color: #AAAAAA;
    font-size: 22px;
    cursor: not-allowed;
}

#modal-content>div>div.edit-reservation-button>button:enabled:hover {
    background: rgba(254, 0, 0, 0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
    color: white;
}
