@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

div.nav-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 1% 0px;
    height: 50px;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    background-color: none;
    min-width: 600px;
    padding-bottom: 9px;
    border-bottom: #F1F1F1 1px solid;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
    border-right: 2px #f0f0f5 solid;
    padding: 0 30px;
    margin: 10px;
}

div.nav-user-container>div.nav-logo>a>img {
    height: 100%;
}

#root>div.nav-user-container>div.nav-logo>a:nth-child(2) {
    text-decoration: none;
    height: 100%;
    font-size: 25px;
    font-weight: 700;
    color: black;
    align-items: center;
    align-content: center;
    margin: 14px 10px;
}

.nav-button-container {
    height: 100%;
    margin: 5px 0px;
    padding: 20px 9%;
    position: relative;
    display: flex;
    align-items: center;
}

.nav-user-dropdown {
    position: absolute;
    right: 24%;
    text-decoration: none;
    background-color: #F7F7F7;
    border: 1px solid #ECECEC;
    color: black;
    border-radius: 6px;
    padding: 5px 5px;
}

#root>div.nav-user-container>div.nav-button-container>ul>li>a {
    text-decoration: none;
    color: black;
    /* padding: 5px 60px; */
    width: 290px;
    font-size: 18px;
}

#root>div.nav-user-container>div.nav-button-container>ul>li:nth-child(2)>a {
    padding: 7px 98px;
}

#root>div.nav-user-container>div.nav-button-container>ul>li:nth-child(3)>a {
    padding: 7px 72px;
}

#root>div.nav-user-container>div.nav-button-container>ul>li:nth-child(4)>a {
    padding: 7px 68px;
}

#root>div.nav-user-container>div.nav-button-container>ul>li:hover {
    text-decoration: none;
    color: #871D1D;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 0px;
}

#root>div.nav-user-container>div.nav-button-container>ul>div {
    border-bottom: gray solid 1px;
    padding: 5px;
    margin-bottom: 10px;
    width: 96%;
    word-wrap: break-word;
    font-size: 18px;
}

#root>div.nav-user-container>div.nav-button-container>ul {
    margin: 46px;
    font-size: 16px;
    align-self: flex-start;
    width: 290px;
    z-index: 998;
}

#root>div.nav-user-container>div.nav-button-container>ul>li {
    margin: 7px 0px;
    font-size: 17px;
}

#root>div.nav-user-container>div.nav-button-container>ul>li>a:hover {
    background-color: white;
    font-weight: 500;
    font-size: 18px;
}

.nav-button-logout {
    color: #8E1111;
    border-radius: 5%/5%;
}

.nav-button-img {
    height: 30px;
    border-radius: 50%;
    padding: 9px;
    background-color: #f0f0f5;
    max-width: 2em;
    max-height: 2em;
}

#root>div.nav-user-container>div.nav-button-container>button {
    height: fit-content;

}

button {
    all: unset;
    cursor: pointer;
}

#root>div.nav-user-container>div.nav-button-container>ul>li.nav-button-logout>button {
    padding: 10px 0px;
    width: 283px;
}

ul,
nav {
    list-style-type: none;
}

button.login {
    padding: 0px 15px;
    margin: 5px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #dddbda;
    color: #0070d2;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;


}

button.signup {
    padding: 0px 15px;
    margin: 5px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #dddbda;
    color: #fff;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    height: fit-content;


}

button.login:hover {
    background-color: #D6D9DE;
}

button.signup:hover {
    background-color: #489EEA;

}

/* --------- home search --------- */
div .home-search-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: 17px;
}

.home-search-input {
    height: 43px;
    width: 350px;
    border-radius: 5px;
    margin: 1px 15px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

/* date input */
#root>div:nth-child(3)>div.find-your-table>div>div>div:nth-child(1)>input {
    height: 38px;
    width: 130px;
    border-radius: 3px;
    margin-left: 19px;
    border: .5px solid #F1F1F1;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

.home-search-dattimeppl {
    width: 130px;
    margin: 0px;
    padding: 3px;
    border-radius: 3px;
    font-size: 18px;
}


#root>div:nth-child(3)>div.find-your-table>div>div>div:nth-child(2)>select,
#root>div:nth-child(3)>div.find-your-table>div>div>div:nth-child(3)>select {
    width: 120px;
    height: 46px;
    margin: 0px;
    padding: 3px;
    border-radius: 2px;
    border: .5px solid #F1F1F1;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

.home-search-button {
    height: 30px;
    width: 110px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 19px;
    font-size: 12px;

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #C30200;
    color: #fff;
    background-color: #C30200;
    padding: 3px 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-size: 16px;
}

.home-search-button:hover {
    /* background: 0 0; */
    background-color: #D10000;
    font-size: 17px;
}


/* ------------- footer css ------------- */

.footer-container {
    height: fit-content;
    /* height: 160px; */
    background-image: linear-gradient(to bottom right, #484848, #000000);
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

    font-family: 'DM Sans', sans-serif;
    align-items: center;
    margin-bottom: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 50px 70px;
    /* position: fixed; */
}

.footer-top {
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    width: 590px;
    padding: 0px 20px;
}


.footer-top>div {
    padding: 0px 10px;
    width: 430px;
}

.footer-top>div>a {
    margin: 10px 50px;
    text-decoration: none;
    color: #E60000;
}

.footer-top>div>a:hover {
    text-decoration: underline;
    color: #FF0C0C;
}

.footer-bottom>div {
    /* background-color: red; */
    width: 910px;
    margin-right: 180px;
}

.footer-mid>img {
    height: 90px;
    padding-top: 30px;
    padding-right: 20px;
}

/* topbar container styling */

.topbar-container {
    min-width: 100vw;
    padding: 2px 280px;
    font-style: italic;
    color: #484848;
    height: fit-content;
    font-size: 16px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-between;
}
