.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2px;
    padding: 2px;
}


input .create-res-input {
    width: 300px;
}

#root>form>div>input {
    width: 350px;
    height: 20px;
}


.create-new-restaurant {
    display: grid;
    grid-template-columns: 50% 50%;

}
