@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.home-all-container {
    padding: 0 3%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    color: inherit;
    margin: auto;
    gap: 20px;
    justify-content: center;
    padding-bottom: 60px;
    width: 1600px;
}

#root>div:nth-child(2)>h3 {
    margin: 5px 3%;
    padding: 15px;
    font-size: 22px;
    color: #333B50;
    border-bottom: #E5E9F4 1px solid;
    font-family: 'DM Sans', sans-serif;
}

div .find-banner {
    height: 211px;
    background-image: linear-gradient(to bottom right, #131E43, #5F698C);
    font-size: 48px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 1600px;
    font-family: 'Varela Round', sans-serif;
}

.home-restaurants {
    margin: 1px 1px;
    border-radius: 3%;
    border: #E5E9F4 solid 2px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-size: 18px;
    transition: all .4s ease;
    position: relative;
}

div.home-res-cover {
    align-self: center;
    box-sizing: border-box;
    overflow: hidden;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-res-cover>img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

div .home-res-details {
    /* display: flex;
    align-items: flex-start;
    flex-direction: column; */
    margin: 12px;
    padding: 5px;
    float: left;
    color: #131E43;
}


.home-res-nav {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

div .home-restaurants:hover {
    border-radius: 2% 2% 2% 2% / 2% 2% 2% 2%;
    box-shadow: 6px 16px 39px rgba(104, 104, 104, .7);
    /* top: -6px; */
    transition-duration: 200ms;
}

.home-res-timeslots>button {
    background-color: #D10909;
    color: white;
    font-weight: lighter;
    font-size: 1em;
    margin-top: .7em;
    margin-right: 11px;
    padding: 0.3em 0.5em;
    border-radius: 10%;
}

.home-res-timeslots>button:disabled {
    cursor: not-allowed;
    background-color: #D3D3D3;
}
