@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.home-all-container {
    padding: 0 30px;
    display: grid;
    /* grid-template-columns: repeat(5, 16%); */
    grid-template-columns: repeat(4, 16%);
    color: inherit;
    margin: auto;
    gap: 20px;
    justify-content: center;
    padding-bottom: 60px;
    min-width: 1556px;
    font-size: 18px;
}

.home-subtitle {
    margin: 10px 3%;
    padding: 15px;
    font-size: 22px;
    color: #333B50;
    border-bottom: #E5E9F4 1px solid;
    font-family: 'DM Sans', sans-serif;
}

.home-res-dcl {
    font-size: 17px;
    height: 29px;
    /* background-color: yellow; */
    /* overflow-wrap: anywhere; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div .find-banner {
    height: 281px;
    background-image: linear-gradient(to bottom right, #131E43, #5F698C);
    font-size: 46px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 1600px;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 20px;
}

.home-restaurants {
    margin: 1px 1px;
    border-radius: 5px;
    border: #E5E9F4 solid 2px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-size: 18px;
    transition: all .4s ease;
    position: relative;
    height: 330px;
    min-width: 253px;
}

div.home-res-cover {
    align-self: center;
    box-sizing: border-box;
    overflow: hidden;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-res-cover>img {
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

div .home-res-details {
    /* display: flex;
    align-items: flex-start;
    flex-direction: column; */
    /* width: 220px; */
    width: 90%;
    height: 120px;
    /* background-color: #5F698C; */
    margin: 12px;
    padding: 5px;
    float: left;
    color: #131E43;
    overflow-wrap: anywhere;
    position: relative;
    /* overflow-y: scroll; */
}

.home-res-nav-div {
    height: 27px;
    margin-bottom: 7px;
    /* background-color: red; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.home-res-nav {
    text-decoration: none;
    color: black;
    font-weight: 700;
    height: 43px;
    font-size: 20px;
}

div .home-restaurants:hover {
    border-radius: 2% 2% 2% 2% / 2% 2% 2% 2%;
    box-shadow: 6px 16px 39px rgba(104, 104, 104, .7);
    /* top: -6px; */
    transition-duration: 200ms;
}

.home-res-timeslots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    padding-bottom: 8px;
    /* margin: 5px 5px; */
}

.home-res-timeslots>button {
    background-color: #D10909;
    color: white;
    font-weight: lighter;
    font-size: 18px;
    margin-right: 8px;
    padding: 5px 9px;
    border-radius: 10%;
    margin-bottom: 5px;
}

.home-res-timeslots>button:disabled {
    cursor: not-allowed;
    background-color: #D3D3D3;
}
