.restaurant-detail-cover {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    height: 880px;
    min-width: 100%;
    z-index: -94;
    background-color: white;
}

.restaurant-all-container {
    margin: 430px 5% 150px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 60px;
    min-height: 100%;
}

.res-left-container,
.res-right-container {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 40px;

    box-shadow: 0 14px 24px 0 rgb(0 0 0 / 30%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    max-width: 760px;
    font-size: 20px;
}

.res-right-container {
    width: 50%;
    min-width: 380px;
    /* margin: auto auto auto 0px; */
    padding: 10px 30px;
    padding-bottom: 30px;
    height: fit-content;
    border-radius: 10px;
    font-size: 18px;
    position: sticky;
    top: 0px;
}

.res-left-container {
    /* width: 630px; */
    width: 90%;
    margin: auto 0px auto auto;
    padding: 0px 40px;
    padding-bottom: 30px;
    height: fit-content;
}

div.res-left-name {
    font-size: 61px;
    /* border-bottom: 1px solid #686868; */
    padding: 20px 0px;
    margin-bottom: 5%;
    word-wrap: break-word;
}

.res-left-info {
    border-bottom: 1px solid #686868;
    padding: 10px 0px;
    margin: 5px;
    word-wrap: break-word;
}

.res-left-toggle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #E3E3E3;
    box-sizing: border-box;
    width: 100%;

}

.res-left-toggle-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 20px;
    height: 68px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 20px;
    background: #fff;
    color: #696969;

    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.res-left-toggle-button>a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 20px 50px;
    color: #696969;
}

#root>div.restaurant-all-container>div.res-left-container>div.res-left-toggle>button:nth-child(2),
#root>div.restaurant-all-container>div.res-left-container>div.res-left-toggle>button:nth-child(3) {
    box-shadow: -2px 0 0 0 rgb(0 0 0 / 10%);
}

.res-left-toggle-button:hover,
#root>div.restaurant-all-container>div.res-left-container>div.res-left-toggle>button:nth-child(2):hover {
    /* background: rgba(255, 255, 255, 0.9); */
    background-color: #EF2A00;
    color: white;
    transition: 1s;
}


.res-left-info>div {
    padding: 5px 0px;
}


.make-reservation-submit>button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 18px;
    background: #D10000;
    color: white;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.make-reservation-submit>button:hover {
    font-size: 20px;
}

.make-reservation-submit>button:disabled {
    background: #A9A9A9;
    color: #8A8A8A;
    cursor: not-allowed;

}


.restaurant-notfound {
    margin: 20%;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
