@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.create-container {
    background-color: #FAD961;
    background-image: linear-gradient(180deg, #FAD961 0%, #F76B1C, #67005E 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-bottom: 90px;
    min-height: 700px;
    font-size: 18px;
}

.create-form-container {
    height: fit-content;
    width: 800px;
    min-width: 800px;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 3em;
    margin: 20px 40px;
}

.create-title {
    padding-top: .2em;
    color: white;
    font-size: 30px;
    margin: 0px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

#root>div.create-container>h4 {
    text-decoration: none;
}

.create-new-restaurant {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    padding: 0 .5em .5em;
}

.create-error {
    padding: 15px;
    border-bottom: #FEE8FC 1px solid;
    color: #D10000;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.left-create {
    padding: 3px 8px;
    margin: 2px;
    font-family: 'Poppins', sans-serif;


    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-create {
    padding: 3px 8px;
    margin: 2px;
    font-family: 'Poppins', sans-serif;

    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root>div.create-container>div.create-form-container>form>div.left-create>label,
#root>div.create-container>div.create-form-container>form>div.left-create>input,
#root>div.create-container>div.create-form-container>form>div.left-create>select,
#root>div.create-container>div.create-form-container>form>div.right-create>label,
#root>div.create-container>div.create-form-container>form>div.right-create>input,
#root>div.create-container>div.create-form-container>form>div.right-create>select {
    width: 100%;
    font-size: 20px;
    padding: 3px 0px;
}

#root>div.create-container>div.create-form-container>form>div.right-create>textarea {
    height: 155px;
    width: 375px;
    resize: none;
    overflow-y: scroll;
    font-size: 18px;
}

#root>div.create-container>div.create-restaurant-submit>button:enabled {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #fff;
    padding: 15px 60px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 22px;
}

#root>div.create-container>div.create-restaurant-submit>button:enabled:hover {
    background-color: #ff4742;
    color: #fff;
}

#root>div.create-container>div.create-restaurant-submit>button:disabled {
    background-color: #ACACAC;
    padding: 10px 30px;
    color: #8C8C8C;
    border: 2px solid #8C8C8C;
    cursor: not-allowed;
}
