.restaurant-detail-cover {
    position: absolute;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    height: 500px;
    z-index: -999999;
    padding-top: 10px;
    background-color: white;
}

.restaurant-all-container {
    margin: 18% 8% 5%;
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 30px;
}

.res-left-container,
.res-right-container {
    background-color: white;
    border-radius: 1%;
    padding: 0 1.5em;
    padding-bottom: 1em;
}

div.res-left-name {
    font-size: 50px;
    /* border-bottom: 1px solid #686868; */
    padding: 20px 0px;
    margin-bottom: 5%;
}

.res-left-info {
    border-bottom: 1px solid #686868;
    padding: 10px 0px;
    margin: 5px;
}

.res-left-toggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #E3E3E3;
    box-sizing: border-box;
    width: 100%;

}

.res-left-toggle-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 58px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    color: #696969;

    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

#root>div.restaurant-all-container>div.res-left-container>div.res-left-toggle>button:nth-child(2) {
    box-shadow: -2px 0 0 0 rgb(0 0 0 / 10%);
}

.res-left-toggle-button:hover,
#root>div.restaurant-all-container>div.res-left-container>div.res-left-toggle>button:nth-child(2):hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}
