.edit-restaurant {
    width: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-restaurant-title {
    font-size: 20px;
    margin: 2px;
    padding: 2px;
}

.edit-restaurant>div>img {
    border-radius: 6px;
    box-shadow: -10px -5px 10px #6B6B6B;
    margin: 3px;
}

.edit-restaurant-left>input,
.edit-restaurant-left>select,
.edit-restaurant-right>input,
.edit-restaurant-right>select {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
}

.edit-restaurant-description {
    width: 700px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
}

#modal-content>form>div.edit-restaurant-description>input {
    border-radius: 4px;
    height: 100px;
    overflow-y: scroll;
    resize: none;
    line-height: 1.5;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.edit-restaurant-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}




.cancel-restaurant-edit {
    position: absolute;
    right: 3%;
    top: 3%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#modal-content>form>div.edit-restaurant-imgdelete {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#modal-content>form>div.edit-restaurant-imgdelete>button,
#modal-content>form>button.edit-restaurant-submit {
    display: inline-block;
    outline: 0;
    border: 0;
    margin: 9px 0px;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 28px;
    padding: 0 32px;
    font-size: 16px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;

}

#modal-content>form>div.edit-restaurant-imgdelete>button:hover,
#modal-content>form>button.edit-restaurant-submit:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

.edit-restaurant-delete:active,
.edit-restaurant-submit {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

#modal-content>form>div.edit-restaurant-description>textarea {
    height: 99px;
    width: 700px;
    resize: none;
    overflow-y: scroll;
}

.edit-res-error {
    padding: 15px;
    border-bottom: #FEE8FC 1px solid;
    color: #6B0000;
    font-family: 'Slabo 27px', serif;
}
