.edit-restaurant {
    width: 100%;
    padding: 35px;
    margin: 10px;
    border-radius: 4px;
    width: 800px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-size: 20px;
}

.edit-restaurant-title {
    font-size: 20px;
    margin: 2px;
    padding: 2px;
}

.edit-restaurant>div>img {
    border-radius: 6px;
    box-shadow: -10px -5px 10px #6B6B6B;
    margin: 3px;
}

.edit-restaurant-left>input,
.edit-restaurant-left>select,
.edit-restaurant-right>input,
.edit-restaurant-right>select {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 18px;
    padding-top: 5px;
    border: 1px solid #D0D0D0;
}

.edit-restaurant-description {
    width: 700px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
}

#modal-content>form>div.edit-restaurant-description>input {
    border-radius: 4px;
    height: 100px;
    overflow-y: scroll;
    resize: none;
    line-height: 1.5;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 18px;
    padding-top: 5px;
}

#modal-content>form>div.edit-restaurant-description>textarea {
    font-size: 18px;
    padding-top: 5px;
    width: 900px;
}

.edit-restaurant-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}




.cancel-restaurant-edit {
    position: absolute;
    right: 3%;
    top: 3%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: black;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cancel-restaurant-edit:hover {
    font-size: 34px;
}


#modal-content>form>div.edit-restaurant-imgdelete {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}


#modal-content>form>button.edit-restaurant-submit {
    display: inline-block;
    outline: 0;
    border: 0;
    margin: 20px 0px;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 30px;
    padding: 4px 24px;
    font-size: 18px;
    border-radius: 6px;
    width: 220px;
    color: #36395a;
    text-align: center;
    transition: box-shadow 0.15s ease, transform 0.15s ease;

}

#modal-content>form>button.edit-restaurant-delete {
    display: inline-block;
    outline: 0;
    border: 0;
    margin: 9px 0px;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #5A0000;
    box-shadow: 0px 1px 1px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 30px;
    padding: 4px 24px;
    width: 220px;
    font-size: 18px;
    border-radius: 6px;
    color: white;
    text-align: center;
    transition: box-shadow 0.15s ease, transform 0.15s ease;

}

#modal-content>form>button.edit-restaurant-delete:hover,
#modal-content>form>button.edit-restaurant-submit:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

#modal-content>form>button.edit-restaurant-submit:disabled {
    background-color: #B5B5B5;
    color: #787878;
    cursor: not-allowed;
}

#modal-content>form>button.edit-restaurant-delete:active,
.edit-restaurant-submit {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

#modal-content>form>div.edit-restaurant-description>textarea {
    height: 99px;
    width: 700px;
    resize: none;
    overflow-y: scroll;
    margin-bottom: 30px;
    margin-left: 110px;
    align-self: center;
}

.edit-res-error {
    padding: 5px;
    font-size: 18px;
    border-bottom: #FEE8FC 1px dotted;
    color: #D10000;
    font-family: 'Slabo 27px', serif;
}

/* buttom buttons */
.edit-restaurant-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    text-align: center;
    /* margin: 20px; */
    margin-bottom: 15px;
    width: 100%;
    max-width: 800px;
}

/* #modal-content>form>div.edit-restaurant-button>button:nth-child(1):hover,
#modal-content>form>div.edit-restaurant-button>button:nth-child(2):hover {
    border: 2px double yellowgreen;
    border-radius: 20%;
} */

#modal-content>form>div.edit-restaurant-button>button {
    /* border: 1px solid #850000; */
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 5px;
    font-size: 22px;
}


#modal-content>form>div.edit-restaurant-button>button:nth-child(1):disabled {
    color: #CECECE;
    font-size: 22px;
    cursor: not-allowed;
}

#modal-content>form>div.edit-restaurant-button>button:enabled:hover {
    background: rgba(254, 0, 0, 0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
    color: white;
    font-weight: 100;
}
