/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}

body {
    margin: 0%;
}

.content.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    width: 100%;
    width: 100vw;
    padding: 0;
}

#root>nav>ul {
    list-style: none
}

button:disabled {
    background-color: #8E8E8E;
    color: #535353;
    padding: .3em .8em;
    margin: .5em;
    border-radius: 10%;
}

