.myrestaurants-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: #E4E3E3; */
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    min-height: 800px;
}

#root>div.myrestaurants-container>h3 {
    margin: 20px;
    font-size: 30px;
}

#root>div.myrestaurants-container>h3 {
    margin-top: 50px;
    align-self: center;
}


#root>div.myrestaurants-container>div.div-list-new-butt {
    /* padding-left: 80px;
    padding-top: 80px; */
    align-self: center;
}

.list-new-res-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #D10000;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 20%), 0px 7px 7px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 3px 55px;
    margin-left: 80px;
    font-size: 20px;
    border-radius: 6px;
    color: white;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    margin: 0px 0 30px;
}

.list-new-res-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

.list-new-res-button:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

.list-new-res-button-nav {
    text-decoration: none;
    color: inherit;
}



#root>div.myrestaurants-container>div.rest-kindreminder {
    font-size: 20px;
    padding-left: 40px;
    align-self: center;
}

#root>div.myrestaurants-container>div.no-restaurant-text {
    font-size: 20px;
    text-align: center;
    /* padding: 10% 35%; */

}

.my-restaurant-each {
    margin: 30px 25%;
    padding: 25px 30px;
    display: grid;
    grid-template-columns: 260px 300px 150fr;
    gap: 40px;
    background-color: #F3F3F3;
    height: 140px;
    border-radius: .3em;
    justify-content: space-evenly;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 970px;
    font-size: 19px;
    position: relative;
}

.myrestaurant-cover {
    width: 100%;
    max-height: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

div.myrestaurant-edit-button>button {

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 30px;
    font-size: 19px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    text-align: center;
    position: absolute;
    top: 38%;
    right: 4%;

}

div.myrestaurant-edit-button>button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

div.myrestaurant-edit-button>button:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}


div.myrestaurant-details>a {
    text-decoration: none;
    color: #CE4B00;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.myrestaurant-details>a:hover {
    color: #F16603;
    text-Decoration: none;
    font-weight: 900;
    font-size: 23px;
    transition-duration: 200ms;
}

.div.myrestaurant-details {
    height: fit-content;
}

#modal-content>div>button:nth-child(9) {

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

#modal-content>div>button:nth-child(9):hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

#modal-content>div>button:nth-child(9):active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

#modal-content>div>button:nth-child(9):disabled {
    background-color: #999999;
    color: #787878;
    cursor: not-allowed;
    border: none;
}
