#root>div.myreservation-container {
    /* margin: 50px auto;
    border-radius: 3px;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #EFEFEF;
    border-radius: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 850px;
    min-height: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 800px;
}

#root>div.myreservation-container>h3 {
    margin-top: 50px;
    align-self: center;
    font-size: 30px;
}

.no-reservation {
    font-size: 20px;
}

#root>div.myrestaurants-container>div.my-restaurants-each-container {
    margin-bottom: 40px;
}

.my-reservation-each {
    margin: 30px 25%;
    padding: 25px 10px;
    display: grid;
    width: 850px;
    grid-template-columns: 260px 400px 150px;
    background-color: #F3F3F3;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 970px; */
    font-size: 19px;
    position: relative;
    align-items: flex-start;
}

.myreservation-cover {
    width: 100%;
    max-height: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

div.myreservation-cover>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}



div.myreservation-edit-button>button {

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 30px;
    font-size: 19px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    text-align: center;
    position: absolute;
    padding: 5px 20px;
    top: 38%;
    right: 4%;

}

div.myreservation-edit-button>button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

div.myreservation-edit-button>button:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

.div.myreservation-details {
    height: fit-content;
    text-align: left;
    width: fit-content;
}

div.myrestaurant-edit-button>button {
    padding: 10px 20px;
    margin: auto;
    font-size: 14px;
}

#root>div.myprofile-container>div.profile-content>div>div>div:nth-child(1)>div.myrestaurant-details>div {
    font-size: 18px;
}


/* nno reservation */
#root>div.myreservation-container>div>div {
    /* font-size: 24px; */
    text-align: center;
    /* padding: 10% 35%; */
    height: 190px;
    width: 900px;
    /* text-align: left; */
    padding: 30px;
}

#root>div.myreservation-container>div>div>a {
    text-decoration: none;
    color: #770000;
}

#root>div.myreservation-container>div>div>a:hover {
    text-decoration: underline;
}
