.rating-button {
    display: grid;
    grid-template-columns: 140px repeat(5, 1fr) 15px 150px;
}


.rating-button>button {
    font-size: 28px;
    padding: 5px;
    text-align: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
}

.rating-button> button > i{
    pointer-events:none; 
}

.rating-button>label {
    font-size: 22px;
    margin: auto 5px;
}

#modal-content > div > form > div:nth-child(3) > label:nth-child(7),
#modal-content > div > form > div:nth-child(4) > label:nth-child(7),
#modal-content > div > form > div:nth-child(5) > label:nth-child(7),
#modal-content > div > form > div:nth-child(6) > label:nth-child(7){
    margin-left: 25x;
}
